html {
  font-size: 10px;
  margin: 0;
}

header {
  display: flex;
  border: 1px solid black;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  border: 1px solid red;
}

nav a {
  border: solid 1px green;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.element-container {
  display: flex;
  flex: 1 0 100%;
}

.heading--container {
  flex: 1 0 25%;
  border: 1px solid green;
}

/* main content section containers */
.portfolio--container {
  flex: 1 0 75%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid pink;
}

.portfolio--item {
  min-width: 20rem;
  min-height: 20rem;
  border: 1px solid blue;
}

.about-me--container {
  flex: 1 0 75%;
  border: 1px solid pink;
}

.contact-me--container {
  flex: 1 0 75%;
  border: 1px solid pink;
}

/* footer content container */
.footer--content {
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid black;
}
