:root {
  --nyanza: #d8f3dc;
  --turquoise-green: #b7e4c7;
  --turquoise-green-dark: #95d5b2;
  --ocean-green: #74c69d;
  --black-text: #000000;
  --ocean-green-dark: #52b788;
  --illuminating-emerald: #40916c;
  --bottle-green: #2d6a4f;
  --brunswick-green: #1b4332;
  --dark-jungle-green: #091c15;
  --white-text: #fff;
}

html {
  font-size: 10px;
  font-family: "Shippori Mincho B1", serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  background-color: var(--dark-jungle-green);
  color: var(--white-text);
  padding: 2rem;
}

h1 {
  margin: 1rem 2rem;
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

nav a {
  text-decoration: none;
  color: var(--white-text);
  padding: 2rem;
  margin: 0 1rem;
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* main content section containers */
.element-container {
  display: flex;
  flex: 1 0 100%;
}

.heading--container {
  flex: 1 0 25%;
  border: 1px solid green;
  margin-top: 5rem;
}

.heading--container h2 {
  text-align: right;
  margin: 0 2rem;
}

.portfolio--container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid pink;
}

.about-me--container {
  border: 1px solid pink;
}

.contact-me--container {
  border: 1px solid pink;
}

.portfolio--container,
.about-me--container,
.contact-me--container {
  flex: 1 0 75%;
}

/* section item cards */
.portfolio--item {
  min-width: 20rem;
  min-height: 20rem;
  border: 1px solid blue;
}

/* footer content container */
.footer--content {
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid black;
}

/* desktop screen animations */
@media screen and (min-width: 993px) {
}

/* tablet screen styles */
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2rem;
  }
  nav a {
    padding: 0.7rem;
    font-size: 1.25rem;
    align-self: center;
  }
}

/* mobile phone layout */
@media screen and (max-width: 766px) {
  header,
  nav,
  main,
  .element-container {
    flex-direction: column;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  nav a {
    align-self: center;
    padding: 1rem;
    font-size: 1.5 rem;
  }

  .heading--container {
    margin-top: 0;
  }

  .heading--container h2 {
    text-align: left;
  }

  .portfolio--item {
    flex-basis: 100%;
  }
}
